In [1]:
# Import necessary libraries
import pandas as pd
import csv
from os import listdir
pd.options.mode.chained_assignment = None  # default='warn'
from sklearn import preprocessing
import numpy as np

In [2]:
# Read the necessary files from the folder apped patient id to each row and aggreagate all file into a single csv
a_traincsv = listdir('C:/Users/nandh/OneDrive/Desktop/IndependantStudy/temp/training')
b_traincsv = listdir('C:/Users/nandh/OneDrive/Desktop/IndependantStudy/temp/training_setB')

temp='train_patient.csv'

with open('C:/Users/nandh/OneDrive/Desktop/IndependantStudy/temp/train_patient1.csv', 'w', newline='') as f:
    writer = csv.writer(f)

    for ind, csv_name in enumerate(a_traincsv):
        with open('C:/Users/nandh/OneDrive/Desktop/IndependantStudy/temp/training/'+ csv_name,'r') as csvinput:
            reader = csv.reader(csvinput, delimiter='|')
            all = []
      
            if ind ==0 :
                row = next(reader)
                row.append('Patient_id')
                all.append(row)
            else:
                row = next(reader)

            for i,row in enumerate(reader):
                row.append(ind)
                #row.append(i)            
                all.append(row)

            writer.writerows(all)
 
    num = ind  
    
    for inde, csv_name in enumerate(b_traincsv):
        if inde < 10000:
            num = num+1
            with open('C:/Users/nandh/OneDrive/Desktop/IndependantStudy/temp/training_setB/'+ csv_name,'r') as csvinput:
                reader = csv.reader(csvinput, delimiter='|')
                all = []


                row = next(reader)
                for i,row in enumerate(reader):
                    row.append(num)

                    all.append(row)
                writer.writerows(all)

In [3]:
# Read the csv file 
train_data = pd.read_csv('C:/Users/nandh/OneDrive/Desktop/IndependantStudy/temp/train_patient1.csv', sep = ',')
train_data

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,45.76,0,1.0,0.0,-0.03,1,0,0
1,79.0,98.0,NaN,134.0,81.33,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,45.76,0,1.0,0.0,-0.03,2,0,0
2,81.0,98.0,NaN,121.0,80.33,NaN,16.0,NaN,NaN,NaN,...,NaN,NaN,45.76,0,1.0,0.0,-0.03,3,0,0
3,88.0,100.0,NaN,131.0,77.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,45.76,0,1.0,0.0,-0.03,4,0,0
4,86.0,100.0,NaN,143.0,89.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,45.76,0,1.0,0.0,-0.03,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77678,72.0,95.0,NaN,114.0,78.00,66.0,16.0,NaN,NaN,NaN,...,NaN,NaN,58.00,1,0.0,1.0,-121.77,48,0,1999
77679,77.5,95.0,37.4,128.0,88.00,75.0,16.0,NaN,NaN,NaN,...,NaN,NaN,58.00,1,0.0,1.0,-121.77,49,0,1999
77680,71.0,94.0,37.2,103.0,75.00,65.0,16.0,NaN,NaN,NaN,...,NaN,NaN,58.00,1,0.0,1.0,-121.77,50,0,1999
77681,80.0,94.0,NaN,117.0,75.00,60.0,17.0,NaN,NaN,NaN,...,NaN,NaN,58.00,1,0.0,1.0,-121.77,51,0,1999
77682,82.0,93.0,NaN,124.0,81.00,70.0,20.0,NaN,NaN,NaN,...,NaN,NaN,58.00,1,0.0,1.0,-121.77,52,0,1999

In [4]:
# Class distribution
train_data['SepsisLabel'].value_counts()

0    76353
1     1330
Name: SepsisLabel, dtype: int64

In [5]:
# Initialise the list of laboratory values
laboratory_values=['Temp','EtCO2', 'BaseExcess', 'HCO3', 'FiO2', 'pH', 'PaCO2', 'SaO2', 'AST', 'BUN', 'Alkalinephos', 'Calcium',
 'Chloride', 'Creatinine', 'Bilirubin_direct', 'Glucose', 'Lactate', 'Magnesium', 'Phosphate', 'Potassium',
 'Bilirubin_total', 'TroponinI', 'Hct', 'Hgb', 'PTT', 'WBC', 'Fibrinogen', 'Platelets']

In [6]:
# Filter out columns have missing values greater than 95%
def preprocess_Data(input_dataframe):
     # Iterate over columns and check for the missing value percentage if 
    missing_percentage = (input_dataframe.isnull().sum() / input_dataframe.shape[0]) * 100
    print(missing_percentage)
    filtered_columns = list(missing_percentage[missing_percentage < 95].index)
    preprocessing_df = input_dataframe[filtered_columns]
    return preprocessing_df

In [7]:
# Remaining columns in the database
preprocess_Train = preprocess_Data(train_data)

HR                  10.034370
O2Sat               12.943630
Temp                66.426374
SBP                 14.987835
MAP                 12.544572
DBP                 30.381164
Resp                15.612167
EtCO2               96.121417
BaseExcess          94.297337
HCO3                95.749392
FiO2                91.427983
pH                  92.708829
PaCO2               94.232972
SaO2                96.466408
AST                 98.430802
BUN                 93.096302
Alkalinephos        98.438526
Calcium             94.021858
Chloride            95.220318
Creatinine          93.912439
Bilirubin_direct    99.824930
Glucose             82.813486
Lactate             97.206596
Magnesium           93.609928
Phosphate           95.981103
Potassium           90.376273
Bilirubin_total     98.545370
TroponinI           99.066720
Hct                 91.134482
Hgb                 92.571090
PTT                 97.055984
WBC                 93.550713
Fibrinogen          99.374380
Platelets           94.083648
Age                  0.000000
Gender               0.000000
Unit1               41.270291
Unit2               41.270291
HospAdmTime          0.000000
ICULOS               0.000000
SepsisLabel          0.000000
Patient_id           0.000000
dtype: float64

In [8]:
preprocess_Train

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,BaseExcess,FiO2,pH,...,WBC,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,45.76,0,1.0,0.0,-0.03,1,0,0
1,79.0,98.0,NaN,134.0,81.33,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,45.76,0,1.0,0.0,-0.03,2,0,0
2,81.0,98.0,NaN,121.0,80.33,NaN,16.0,NaN,NaN,NaN,...,NaN,NaN,45.76,0,1.0,0.0,-0.03,3,0,0
3,88.0,100.0,NaN,131.0,77.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,45.76,0,1.0,0.0,-0.03,4,0,0
4,86.0,100.0,NaN,143.0,89.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,45.76,0,1.0,0.0,-0.03,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77678,72.0,95.0,NaN,114.0,78.00,66.0,16.0,NaN,NaN,NaN,...,NaN,NaN,58.00,1,0.0,1.0,-121.77,48,0,1999
77679,77.5,95.0,37.4,128.0,88.00,75.0,16.0,NaN,NaN,NaN,...,NaN,NaN,58.00,1,0.0,1.0,-121.77,49,0,1999
77680,71.0,94.0,37.2,103.0,75.00,65.0,16.0,NaN,NaN,NaN,...,NaN,NaN,58.00,1,0.0,1.0,-121.77,50,0,1999
77681,80.0,94.0,NaN,117.0,75.00,60.0,17.0,NaN,NaN,NaN,...,NaN,NaN,58.00,1,0.0,1.0,-121.77,51,0,1999
77682,82.0,93.0,NaN,124.0,81.00,70.0,20.0,NaN,NaN,NaN,...,NaN,NaN,58.00,1,0.0,1.0,-121.77,52,0,1999

In [9]:
# Get a series containing minimum value of each column
#minValuesObj = preprocess_Train.min()
#print('minimum value in each column : ')
#print(minValuesObj)

In [10]:
# Get a series containing minimum value of each column
#maxValuesObj = preprocess_Train.max()
#print('minimum value in each column : ')
#print(maxValuesObj)

In [11]:
# Drop the columns that are not reuired from analysis
preprocess_Train = preprocess_Train.drop(columns = ['Unit1', 'Unit2', 'ICULOS']) 
preprocess_Train

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,BaseExcess,FiO2,pH,...,Potassium,Hct,Hgb,WBC,Platelets,Age,Gender,HospAdmTime,SepsisLabel,Patient_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,45.76,0,-0.03,0,0
1,79.0,98.0,NaN,134.0,81.33,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,45.76,0,-0.03,0,0
2,81.0,98.0,NaN,121.0,80.33,NaN,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,45.76,0,-0.03,0,0
3,88.0,100.0,NaN,131.0,77.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,45.76,0,-0.03,0,0
4,86.0,100.0,NaN,143.0,89.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,45.76,0,-0.03,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77678,72.0,95.0,NaN,114.0,78.00,66.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,58.00,1,-121.77,0,1999
77679,77.5,95.0,37.4,128.0,88.00,75.0,16.0,NaN,NaN,NaN,...,3.8,NaN,NaN,NaN,NaN,58.00,1,-121.77,0,1999
77680,71.0,94.0,37.2,103.0,75.00,65.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,58.00,1,-121.77,0,1999
77681,80.0,94.0,NaN,117.0,75.00,60.0,17.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,58.00,1,-121.77,0,1999
77682,82.0,93.0,NaN,124.0,81.00,70.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,58.00,1,-121.77,0,1999

In [12]:
X = preprocess_Train.drop('SepsisLabel', axis=1)
#X

In [13]:
#X.std()

In [14]:
columnName_List= X.columns.values
#columnName_List

In [15]:
standardized_X = preprocessing.scale(X)
#standardized_X

In [16]:
standardized_X_dataframe = pd.DataFrame(standardized_X, columns=columnName_List)
#standardized_X_dataframe

In [17]:
#standardized_X_dataframe.std()

In [18]:
# Get a series containing minimum value of each column
#minValuesObj = standardized_X_dataframe.min()
#print('minimum value in each column : ')
#print(minValuesObj)
# Get a series containing minimum value of each column
#maxValuesObj = standardized_X_dataframe.max()
#print('maximum value in each column : ')
#print(maxValuesObj)

In [19]:
numeric_cols = [col for col in standardized_X_dataframe if standardized_X_dataframe[col].dtype.kind != 'O']
#numeric_cols

In [20]:
standardized_X_dataframe[numeric_cols] += 29
#standardized_X_dataframe

In [21]:
# Get a series containing minimum value of each column
#minValuesObj = standardized_X_dataframe.min()
#print('minimum value in each column : ')
#print(minValuesObj)
# Get a series containing minimum value of each column
#maxValuesObj = standardized_X_dataframe.max()
#print('maximum value in each column : ')
#print(maxValuesObj)

In [22]:
#standardized_X_dataframe.mean()

In [23]:
#standardized_X_dataframe.std()

In [24]:
categorical_values=['Age', 'Gender', 'Unit1','Unit2']
# Iterate over columns in DataFrame and filling the laboratory values with previous observed values
for name, values in standardized_X_dataframe.iteritems():
    if name in categorical_values:
        print("Filling Column %r: " % (name) )
        standardized_X_dataframe[name].fillna(0, inplace=True)

Filling Column 'Age':
Filling Column 'Gender':

In [25]:
laboratory_values=['Temp','EtCO2', 'BaseExcess', 'HCO3', 'FiO2', 'pH', 'PaCO2', 'SaO2', 'AST', 'BUN', 'Alkalinephos', 'Calcium',
 'Chloride', 'Creatinine', 'Bilirubin_direct', 'Glucose', 'Lactate', 'Magnesium', 'Phosphate', 'Potassium',
 'Bilirubin_total', 'TroponinI', 'Hct', 'Hgb', 'PTT', 'WBC', 'Fibrinogen', 'Platelets']

In [26]:
# Iterate over columns in DataFrame and filling the laboratory values with previous observed values
#grouped = processed_df.groupby('Patient_id')
for name, values in standardized_X_dataframe.iteritems():
    if name in laboratory_values:
        print("Filling Column %r: " % (name) )
        standardized_X_dataframe[name] = standardized_X_dataframe.groupby(['Patient_id'])[name].ffill()
        standardized_X_dataframe[name] = standardized_X_dataframe.groupby(['Patient_id'])[name].fillna(0)

Filling Column 'Temp':
Filling Column 'BaseExcess':
Filling Column 'FiO2':
Filling Column 'pH':
Filling Column 'PaCO2':
Filling Column 'BUN':
Filling Column 'Calcium':
Filling Column 'Creatinine':
Filling Column 'Glucose':
Filling Column 'Magnesium':
Filling Column 'Potassium':
Filling Column 'Hct':
Filling Column 'Hgb':
Filling Column 'WBC':
Filling Column 'Platelets':

In [27]:
Remaining_column = ['HR','O2Sat','SBP','MAP','DBP','Resp']
# Iterate over columns in DataFrame and filling the laboratory values with previous observed values
for name, values in standardized_X_dataframe.iteritems():
    if name in Remaining_column:
        print("Filling Column %r: " % (name) )
        standardized_X_dataframe[name] = standardized_X_dataframe.groupby(['Patient_id'])[name].ffill()
        standardized_X_dataframe[name] = standardized_X_dataframe.groupby(['Patient_id'])[name].fillna(0)

Filling Column 'HR':
Filling Column 'O2Sat':
Filling Column 'SBP':
Filling Column 'MAP':
Filling Column 'DBP':
Filling Column 'Resp':

In [28]:
# Iterate over columns in DataFrame and filling the laboratory values with previous observed values
for name, values in standardized_X_dataframe.iteritems():
    if name in Remaining_column:
        print("Filling Column %r: " % (name) )
        standardized_X_dataframe[name] = standardized_X_dataframe.groupby(['Patient_id'])[name].ffill()
        standardized_X_dataframe[name] = standardized_X_dataframe.groupby(['Patient_id'])[name].fillna(0)

Filling Column 'HR':
Filling Column 'O2Sat':
Filling Column 'SBP':
Filling Column 'MAP':
Filling Column 'DBP':
Filling Column 'Resp':

In [29]:
#standardized_X_dataframe.to_csv(r'C:/Users/nandh/OneDrive/Desktop/IndependantStudy/temp2/preprocessed_Train.csv', index = False)

In [30]:
standardized_X_dataframe

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,BaseExcess,FiO2,pH,...,Magnesium,Potassium,Hct,Hgb,WBC,Platelets,Age,Gender,HospAdmTime,Patient_id
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276
1,28.688264,29.253270,0.000000,29.421470,28.945407,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276
2,28.804837,29.253270,0.000000,28.864515,28.883435,0.000000,28.474055,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276
3,29.212846,29.948003,0.000000,29.292942,28.677067,0.000000,28.474055,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276
4,29.096272,29.948003,0.000000,29.807054,29.420736,0.000000,28.474055,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77678,28.280255,28.211171,28.263615,28.564617,28.739039,29.184413,28.474055,0.0,0.0,0.0,...,29.385649,27.493387,28.573963,28.426311,28.518352,28.676765,28.708858,29.885398,28.521849,30.741865
77679,28.600833,28.211171,29.596507,29.164414,29.358763,29.838412,28.474055,0.0,0.0,0.0,...,29.916619,28.476422,28.573963,28.426311,28.518352,28.676765,28.708858,29.885398,28.521849,30.741865
77680,28.221968,27.863805,29.329929,28.093347,28.553122,29.111746,28.474055,0.0,0.0,0.0,...,29.916619,28.476422,28.573963,28.426311,28.518352,28.676765,28.708858,29.885398,28.521849,30.741865
77681,28.746550,27.863805,29.329929,28.693145,28.553122,28.748413,28.673551,0.0,0.0,0.0,...,29.916619,28.476422,28.573963,28.426311,28.518352,28.676765,28.708858,29.885398,28.521849,30.741865
77682,28.863124,27.516438,29.329929,28.993043,28.924957,29.475079,29.272038,0.0,0.0,0.0,...,29.916619,28.476422,28.573963,28.426311,28.518352,28.676765,28.708858,29.885398,28.521849,30.741865

In [31]:
standardized_X_dataframe['SepsisLabel'] = pd.Series(preprocess_Train['SepsisLabel'])
standardized_X_dataframe

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,BaseExcess,FiO2,pH,...,Potassium,Hct,Hgb,WBC,Platelets,Age,Gender,HospAdmTime,Patient_id,SepsisLabel
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276,0
1,28.688264,29.253270,0.000000,29.421470,28.945407,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276,0
2,28.804837,29.253270,0.000000,28.864515,28.883435,0.000000,28.474055,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276,0
3,29.212846,29.948003,0.000000,29.292942,28.677067,0.000000,28.474055,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276,0
4,29.096272,29.948003,0.000000,29.807054,29.420736,0.000000,28.474055,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77678,28.280255,28.211171,28.263615,28.564617,28.739039,29.184413,28.474055,0.0,0.0,0.0,...,27.493387,28.573963,28.426311,28.518352,28.676765,28.708858,29.885398,28.521849,30.741865,0
77679,28.600833,28.211171,29.596507,29.164414,29.358763,29.838412,28.474055,0.0,0.0,0.0,...,28.476422,28.573963,28.426311,28.518352,28.676765,28.708858,29.885398,28.521849,30.741865,0
77680,28.221968,27.863805,29.329929,28.093347,28.553122,29.111746,28.474055,0.0,0.0,0.0,...,28.476422,28.573963,28.426311,28.518352,28.676765,28.708858,29.885398,28.521849,30.741865,0
77681,28.746550,27.863805,29.329929,28.693145,28.553122,28.748413,28.673551,0.0,0.0,0.0,...,28.476422,28.573963,28.426311,28.518352,28.676765,28.708858,29.885398,28.521849,30.741865,0
77682,28.863124,27.516438,29.329929,28.993043,28.924957,29.475079,29.272038,0.0,0.0,0.0,...,28.476422,28.573963,28.426311,28.518352,28.676765,28.708858,29.885398,28.521849,30.741865,0

In [32]:
#standardized_X_dataframe.to_csv(r'C:/Users/nandh/OneDrive/Desktop/IndependantStudy/temp2/preprocessed_Train3.csv', index = False)

In [33]:
# Label shifitng for early prediction
for name, values in standardized_X_dataframe.iteritems():
    if name in 'SepsisLabel':
        print("Filling Column %r: " % (name) )
        standardized_X_dataframe['Sepsis_Shift1'] = standardized_X_dataframe.groupby(['Patient_id'])[name].shift(-1)
        #standardized_X_dataframe['Sepsis_Shift1'] = standardized_X_dataframe.groupby(['Patient_id'])[name].ffill()
        standardized_X_dataframe['Sepsis_Shift6'] = standardized_X_dataframe.groupby(['Patient_id'])[name].shift(-6)
        #standardized_X_dataframe['Sepsis_Shift6'] = standardized_X_dataframe.groupby(['Patient_id'])[name].ffill()
        standardized_X_dataframe['Sepsis_Shift12'] = standardized_X_dataframe.groupby(['Patient_id'])[name].shift(-12)

Filling Column 'SepsisLabel':

In [34]:
standardized_X_dataframe=standardized_X_dataframe.fillna(method='ffill')

In [35]:
standardized_X_dataframe.Sepsis_Shift1 = standardized_X_dataframe.Sepsis_Shift1.astype(int)
standardized_X_dataframe.Sepsis_Shift6 = standardized_X_dataframe.Sepsis_Shift6.astype(int)
standardized_X_dataframe.Sepsis_Shift12 = standardized_X_dataframe.Sepsis_Shift12.astype(int)

In [36]:
standardized_X_dataframe[:60]

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,BaseExcess,FiO2,pH,...,WBC,Platelets,Age,Gender,HospAdmTime,Patient_id,SepsisLabel,Sepsis_Shift1,Sepsis_Shift6,Sepsis_Shift12
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276,0,0,0,0
1,28.688264,29.253270,0.000000,29.421470,28.945407,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276,0,0,0,0
2,28.804837,29.253270,0.000000,28.864515,28.883435,0.0,28.474055,0.0,0.0,0.0,...,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276,0,0,0,0
3,29.212846,29.948003,0.000000,29.292942,28.677067,0.0,28.474055,0.0,0.0,0.0,...,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276,0,0,0,0
4,29.096272,29.948003,0.000000,29.807054,29.420736,0.0,28.474055,0.0,0.0,0.0,...,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276,0,0,0,0
5,29.212846,29.948003,0.000000,29.764212,28.573573,0.0,28.474055,0.0,0.0,0.0,...,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276,0,0,0,0
6,29.037985,29.600636,0.000000,29.507156,29.152395,0.0,29.272038,0.0,0.0,0.0,...,0.000000,0.000000,27.947444,27.870564,29.411156,27.284276,0,0,0,0
7,29.504281,29.253270,28.690140,29.421470,29.400285,0.0,30.070021,0.0,0.0,0.0,...,28.191263,29.130725,27.947444,27.870564,29.411156,27.284276,0,0,0,0
8,29.329420,29.253270,28.690140,28.564617,27.953849,0.0,30.070021,0.0,0.0,0.0,...,28.191263,29.130725,27.947444,27.870564,29.411156,27.284276,0,0,0,0
9,28.921411,29.948003,28.690140,29.507156,28.821463,0.0,29.272038,0.0,0.0,0.0,...,28.191263,29.130725,27.947444,27.870564,29.411156,27.284276,0,0,0,0
10,29.037985,29.600636,28.690140,29.635684,29.131325,0.0,28.673551,0.0,0.0,0.0,...,28.191263,29.130725,27.947444,27.870564,29.411156,27.284276,0,0,0,0
11,28.863124,29.600636,28.623496,28.436088,28.470699,0.0,28.474055,0.0,0.0,0.0,...,28.191263,29.130725,27.947444,27.870564,29.411156,27.284276,0,0,0,0
12,28.629977,29.948003,28.623496,29.292942,27.974920,0.0,28.474055,0.0,0.0,0.0,...,28.191263,29.130725,27.947444,27.870564,29.411156,27.284276,0,0,0,0
13,29.212846,29.948003,28.623496,29.250099,29.028450,0.0,29.272038,0.0,0.0,0.0,...,28.191263,29.130725,27.947444,27.870564,29.411156,27.284276,0,0,0,0
14,28.746550,29.600636,28.623496,29.292942,29.214368,0.0,29.072542,0.0,0.0,0.0,...,28.191263,29.130725,27.947444,27.870564,29.411156,27.284276,0,0,0,0
15,28.280255,29.253270,28.316931,29.121571,28.966478,0.0,28.873047,0.0,0.0,0.0,...,28.191263,29.130725,27.947444,27.870564,29.411156,27.284276,0,0,0,0
16,28.688264,29.253270,28.316931,28.821673,29.110874,0.0,31.266994,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
17,27.872246,29.948003,28.316931,29.464313,28.924957,0.0,28.474055,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
18,28.629977,29.253270,28.316931,28.478931,28.243260,0.0,28.274560,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
19,28.979698,29.600636,28.476878,29.849897,29.936965,0.0,28.474055,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
20,28.047107,29.253270,28.476878,29.121571,29.048901,0.0,28.474055,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
21,29.387707,29.600636,28.476878,29.164414,29.524229,0.0,29.471534,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
22,28.455116,29.600636,28.476878,29.121571,28.139767,0.0,29.072542,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
23,28.979698,29.948003,29.063350,28.778830,28.883435,0.0,30.070021,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
24,28.338542,29.600636,29.063350,29.421470,29.276340,0.0,28.673551,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
25,28.746550,29.600636,29.063350,29.635684,28.429178,0.0,27.875568,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
26,29.096272,29.948003,29.063350,28.521774,28.511601,0.0,29.072542,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
27,28.921411,28.905904,29.063350,29.721369,28.924957,0.0,30.070021,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
28,29.562568,29.948003,29.063350,29.164414,29.936965,0.0,29.671029,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
29,28.513403,29.948003,28.690140,29.507156,29.317242,0.0,28.873047,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
30,28.979698,29.948003,28.690140,29.507156,29.317242,0.0,29.471534,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
31,28.163681,29.948003,28.690140,29.292942,28.966478,0.0,28.873047,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
32,28.221968,29.253270,28.770114,28.693145,28.966478,0.0,28.873047,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
33,28.629977,29.948003,28.770114,29.978425,29.998938,0.0,29.471534,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
34,28.047107,28.905904,28.770114,29.892740,29.958036,0.0,28.474055,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
35,28.921411,29.253270,28.770114,28.950201,28.718589,0.0,28.673551,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
36,28.688264,29.600636,28.770114,29.207257,28.924957,0.0,28.673551,0.0,0.0,0.0,...,28.082233,28.947209,27.947444,27.870564,29.411156,27.284276,0,0,0,0
37,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,28.785995,29.885398,29.411083,27.286005,0,0,0,0
38,30.174581,28.732221,0.000000,28.950201,28.697518,0.0,28.075064,0.0,0.0,0.0,...,0.000000,0.000000,28.785995,29.885398,29.411083,27.286005,0,0,0,0
39,29.387707,28.905904,0.000000,28.307560,28.119316,0.0,28.474055,0.0,0.0,0.0,...,0.000000,0.000000,28.785995,29.885398,29.411083,27.286005,0,0,0,0
40,29.096272,29.253270,29.356587,28.478931,28.408727,0.0,28.274560,0.0,0.0,0.0,...,0.000000,0.000000,28.785995,29.885398,29.411083,27.286005,0,0,0,0
41,29.154559,28.558537,29.356587,28.650302,28.491150,0.0,28.474055,0.0,0.0,0.0,...,0.000000,0.000000,28.785995,29.885398,29.411083,27.286005,0,0,0,0
42,29.387707,29.600636,28.543522,29.078729,29.069352,0.0,28.873047,0.0,0.0,0.0,...,0.000000,0.000000,28.785995,29.885398,29.411083,27.286005,0,0,0,0
43,29.037985,28.905904,28.543522,29.250099,29.090423,0.0,28.274560,0.0,0.0,0.0,...,0.000000,0.000000,28.785995,29.885398,29.411083,27.286005,0,0,0,0
44,28.921411,28.558537,28.396904,28.350403,29.172846,0.0,28.274560,0.0,0.0,0.0,...,0.000000,0.000000,28.785995,29.885398,29.411083,27.286005,0,0,0,0
45,29.037985,29.253270,28.396904,28.950201,28.883435,0.0,28.274560,0.0,0.0,0.0,...,28.700068,29.188677,28.785995,29.885398,29.411083,27.286005,0,0,0,0
46,29.037985,29.253270,28.396904,29.549998,29.586202,0.0,28.673551,0.0,0.0,0.0,...,28.700068,29.188677,28.785995,29.885398,29.411083,27.286005,0,0,0,0
47,29.096272,28.558537,28.770114,29.678526,30.060910,0.0,28.673551,0.0,0.0,0.0,...,28.700068,29.188677,28.785995,29.885398,29.411083,27.286005,0,0,0,0
48,28.863124,28.558537,28.770114,29.421470,29.524229,0.0,28.673551,0.0,0.0,0.0,...,28.700068,29.188677,28.785995,29.885398,29.411083,27.286005,0,0,0,0
49,28.629977,28.905904,28.770114,29.335785,29.400285,0.0,28.673551,0.0,0.0,0.0,...,28.736411,29.362534,28.785995,29.885398,29.411083,27.286005,0,0,0,0
50,30.320298,29.253270,28.770114,29.121571,29.255269,0.0,28.075064,0.0,0.0,0.0,...,28.736411,29.362534,28.785995,29.885398,29.411083,27.286005,0,0,0,0
51,29.737429,29.253270,28.770114,29.421470,29.606653,0.0,28.274560,0.0,0.0,0.0,...,28.736411,29.362534,28.785995,29.885398,29.411083,27.286005,0,0,0,0
52,28.863124,28.558537,27.437221,30.149796,30.081981,0.0,29.072542,0.0,0.0,0.0,...,28.736411,29.362534,28.785995,29.885398,29.411083,27.286005,0,0,0,0
53,28.629977,28.558537,27.437221,29.978425,30.412294,0.0,26.878090,0.0,0.0,0.0,...,28.736411,29.362534,28.785995,29.885398,29.411083,27.286005,0,0,0,0
54,28.396829,28.905904,27.437221,29.378628,29.668625,0.0,28.873047,0.0,0.0,0.0,...,28.736411,29.362534,28.785995,29.885398,29.411083,27.286005,0,0,0,0
55,28.396829,28.905904,27.437221,29.378628,29.668625,0.0,28.873047,0.0,0.0,0.0,...,28.736411,29.362534,28.785995,29.885398,29.411083,27.286005,0,0,0,0
56,29.708285,27.516438,26.397565,27.236493,27.355196,0.0,28.972794,0.0,0.0,0.0,...,28.518352,29.797177,28.785995,29.885398,29.411083,27.286005,0,0,0,0
57,28.863124,28.211171,26.397565,26.636696,26.446062,0.0,27.875568,0.0,0.0,0.0,...,28.518352,29.797177,28.785995,29.885398,29.411083,27.286005,0,0,0,0
58,28.571690,29.948003,26.397565,29.807054,29.627104,0.0,27.476577,0.0,0.0,0.0,...,28.518352,29.797177,28.785995,29.885398,29.411083,27.286005,0,0,0,0
59,28.921411,28.905904,26.397565,28.735987,29.152395,0.0,27.077586,0.0,0.0,0.0,...,28.518352,29.797177,28.785995,29.885398,29.411083,27.286005,0,0,0,0

In [37]:
standardized_X_dataframe.to_csv(r'C:/Users/nandh/OneDrive/Desktop/IndependantStudy/temp/preprocessed_Train.csv', index = False)